.masthead {
  ul.masthead__nav {
    li.list__item {
      padding: 0;
      a {
        color : $color-lightest;
        &:hover {
          color : darken($color-lightest, 70%);
        }
      }
    }
  }
}
